.gradient-custom {
    background-image: url("../img/baground.png");
    /* background-repeat: no-repeat; */
    background-attachment: scroll;

  }

button{
    margin-left: 52%;
    width: 200px;
    background-color: rgb(15, 28, 143, 0.9) !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 10px !important;


}

.input>.email,.password,p{
  color: rgba(128, 128, 128, 1);
  font-style: italic;
}

.input>p{
  margin-top: 0%;
}
.border{
  border-color: rgba(128, 128, 128, 1) !important;
}

